<header class="container-fluid app-header">
    <div class="row bottom-xs">
        <div class="col-xs-2">
            <iconify-icon class="icon-tap" data-icon="mdi:gesture-tap" data-rotate="180deg" data-flip="horizontal" data-height="42"></iconify-icon>
        </div>
        <div class="col-xs-7">
            <ion-searchbar placeholder="Search for a song..." debounce="600" (ionChange)="onInputChange($event.target.value)"></ion-searchbar>
        </div>
        <div class="col-xs-3 end-xs">
            <iconify-icon class="icon-heart" data-icon="mdi:cards-heart" data-height="38"></iconify-icon>
            <ion-badge class="icon-counter-badge" color="danger">{{ favoritesCounter }}</ion-badge>
        </div>
    </div>
</header>