<section class="container-fluid">
  <article appWindowsScroll (scrolledToBottom)="onScrollToBottom()" class="row" >  
    <app-card
      *ngFor="let song of songsByArtist; let i = index"
      class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
      [songInfo]="song"
      [index]="i"
      [favoriteIds]="favoritesIdsCollection"
      (addFavorite)="addToFavorites($event)"
    >
    </app-card>
  </article>
  <aside *ngIf="songsByArtist.length === 0 && searchTerm.length === 0" class="alert-info">
    Please, enter a search term to look for your favourite music.
  </aside>
  <aside *ngIf="songsByArtist.length === 0 && searchTerm.length > 0 && !isLoading" class="alert-warning">
    Sorry, no data available for this search.
  </aside>
  <aside *ngIf="isLoading" class="alert-info" >
    Loading content...
  </aside>
  <aside *ngIf="songsByArtist.length > 0 && !isNewDataAvailable && !isLoading" class="alert-warning">
    No more data available.
  </aside>
</section>
