<section appWindowsScroll (scrolledToBottom)="onScrollToBottom()" class="container-fluid">
  <article class="row" >  
    <app-card
      *ngFor="let song of songsByArtist; let i = index"
      [songInfo]="song"
      [index]="i"
      class="col-xs-6 col-sm-4 col-md-3 example-item"
    >
    </app-card>
  </article>
  <aside *ngIf="isLoading && isNewDataAvailable" class="alert-info" >
    Loading more content...
  </aside>
  <aside *ngIf="!isNewDataAvailable"  class="alert-warning">
    No more data available.
  </aside>
</section>
